.custom-navbar{box-shadow: 10px 10px 10px #eee; z-index:0;background-color: #fff;}
.nav-link{color: #f7204e!important;}
.custom-toggler.navbar-toggler {border-color: rgb(247,32,78);}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: #f76a88;}
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}#logo_custom{margin-top: -6px;}


.index-container{
    margin-top: 8em;
}
.btn-add-post-div{
    float: right;
    margin-bottom: 2em;
}
.post-block{
    float: left;
    margin-bottom: 2em;

}
.singel-post{
    margin-bottom: 2em;
    text-decoration: none;
}
li{
    list-style: none;
}
body a {
    text-decoration: none !important;
    color: black;
}
.nav-item{
    text-align: center;
}

.logo{
    width: 80px;
}
.bodyimg{
    width: 100%;
}
p{
    border-style: none;
}
.neu post{
    color: black;

}
.post-description-titel h3,
.btn-back{
    float: right ;
}
.post-descript{
    margin-top: 1em;
}
.form-group.row div{
    margin-top: 2em;
}
@media only screen and (max-width: 760px) { #logo_custom{width: 40%;}}
